body {
background-image: url(../img/giphy.gif);
}

.jumbotron{
  text-align: center;
  border: 8%;
  margin: 8%;
  font-size: 18px;
  color:black;
  font-family: fantasy;
  opacity:0.7;
}

.row {
  display: none;
}
